body{
    background-color: #50874D;
    padding-top: 100px;
}

.home {
    background-image: url(/tennis-court.PNG);
    background-repeat: no-repeat;
    background-size:cover;
}

.tp-ylw{
    background-color: #CCFF00;
    opacity: 0.8;
}

h2, h3, h4, p {
    color: black;
}

h1 {
    font-size: 55px;
    margin-bottom: 40px;
}

h4 {
    font-size: 20px;
}

p {
    font-size: 35px;
    color: white;
    text-align: center;
}

ul p {
    text-align: start;
}

li {
    color: white;
}

.home-btn{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    text-decoration: none;
}

.back {
    max-width: 125px;
    max-height: 75px;
    margin: auto;
    margin-top: 200px;
}