body{
    background-color: #50874D;
    padding-top: 100px;
}

.home {
    background: url(images/tennis-court.PNG) #50874D;
    background-repeat: no-repeat;
    background-size:cover;
}

.tp-ylw{
    background-color: #ccff00;
    opacity: 0.8;
}

h1, h2, h3, h4, p {
    color: black;
}

h1 {
    font-size: 55px;
    margin-bottom: 40px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 15px;
    transition: opacity 0.5s;
    visibility: hidden;
}

img {
    width: 80%;
}

.img-holder h5 {
    opacity: 0%;
    visibility: visible;
}

.img-holder:hover h5 {
    opacity: 100%;
}

h5, p, td, th, li {
    color: white;
}

p, td, th {
    font-size: 35px;
    text-align: center;
}

td, th {
    padding: 10px;
    max-width: 500px;
}

table, th, td {
    border: 3px solid black;
}

ul p {
    text-align: start;
}

.home-btn{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    text-decoration: none;
}

table, .back {
    margin: auto;
}

.back {
    max-width: 125px;
    max-height: 75px;
    margin-top: 200px;
    margin-bottom: 25px;
}

.home-btn:hover, .back:hover {
    background-color: #ccff46;
}

.home-btn:active, .back:active {
    background-color: #8fb300;
}